*{
    margin: 0px;
    font-family:Arial, Helvetica, sans-serif;
    
}

.caixa-menuprincipal {
    padding: 16px 24px;
    background-color: #56876D;
    border-bottom: 1px solid #505050;
}

.caixa-menuprincipal ul {
    list-style: none;
}

.caixa-menuprincipal ul li {
    display: inline;
    margin-right: 16px;
}

.caixa-menuprincipal ul li a {
    font-weight: 600;
    color: white;
    text-decoration: none;
}

.container {
    display: flex;
}

.conteudo {
    height: 100vh;
    flex: 70%;
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.caixa-post {
    border-radius: 12px;
    border: 1px solid #b8b8b8;
    padding: 16px;
    background-color: #FFFFFF;
}

.thumbnail {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 16
    px;
}

.titulo {
    margin-top: 16px;
}

.subtitulo {
    gap: 12px;
    color: #505050;
}

.texto {
    margin-top: 12px;
} 

aside {
    flex: 10%;
    border-left: 1px solid #505050 ;
    background-color: #f0f0f0;
    padding: 24px;
}

aside ul {
    list-style: none;
    padding: 24px 0px;
}

aside ul li {
    text-decoration: none;
    margin-right: 16px;
    padding-bottom: 8px;
}

span {
    margin-right: 16px;
}

.caixa-pesquisa {
    margin-bottom: 24px;
}

.texto-pesquisa {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-right: 8px;
    margin-bottom: 8px;
}

.botao_ok {
    width: 100%;
    padding: 8px 16px;
    background-color: #56876D;
    color: white;
    border: none;
    cursor: pointer;
}

.caixa-categoria ul {
    list-style: none;
    padding: 0;
}

.caixa-categoria ul li {
    margin-bottom: 8px;
    cursor: pointer;
}

.caixa-categoria ul li:hover {
    color: #56876D;
    font-weight: bold;
}

h3 {
    padding-bottom: 16px;
}

